* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    text-decoration: none;
    width: 100px;
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    border-radius: 50%;
    transition: 1s;
    border: solid 2px #000;
    transform: rotateZ(0deg);
}
li a {
    text-decoration: none;
    color: #000;
}
a .iconify {
    width: 80px;
    height: 80px;
    transition: 1s;
}
ul li:hover {
    border-radius: 10px;
    transform: rotateZ(360deg);
}
ul li:hover .iconify {
    color: #fff;
}
li:nth-child(1):hover {
    background-color: #dd4b39;
}
li:nth-child(2):hover  {
    background-color: #3b5998;
}
li:nth-child(3):hover  {
    background-color: #1DA1F2;
}