* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #000; */
}
.icon {
    position: relative;
}
.icon span {
    position: absolute;
    top: 0;
    left: -25px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateY(-30px);
    border-radius: 5px;
    opacity: 0;
    transition: 1s;
}
.icon:nth-child(1) span {
    background-color: #3b5998;
}
.icon:nth-child(2) span {
    background-color: #dd4b39;
}
.icon:nth-child(3) span {
    background-color: #1DA1F2;
}
.icon:nth-child(4) span {
    background-color: #4DCB5B;
}
.icon:nth-child(5) span {
    background-color: #0077B5;
}
.iconify {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px #000;
    transition: 1s;
}
.icon:hover span {
    opacity: 1;
    transform: translateY(0px);
}
.icon:hover .iconify {
    opacity: 0;
}
@media (min-width:700px){
    section {
        flex-direction: row;
    }
    .icon {
        margin: 0px 20px;
    }
}